.form-q
{
  font-size: large;
  margin-bottom: 2ch;
  margin-top: 2ch;
  width: fit-content;
}

.viewmembers {
    font-family: 'Poppins', sans-serif;
    width:calc(95% - max(5%,245px));
    margin-left: max(5%,245px);
    margin-bottom: 5%;
  }

  @media only screen and (max-width: 599px) {
    .viewmembers {
      font-family: 'Poppins', sans-serif;
      width:calc(95% - min(5%,245px));
      margin-left: min(5%,245px);
      margin-bottom: 5%;
    }
  }